body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  margin: 0;
  color: white;
          display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.back {
    height: 50px;
    width: 50px;
    cursor: pointer;
    object-fit: contain;
    display: block;
}

.login-container {
  background-color: rgba(0,0,0,0.6);
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 380px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  animation: aparecer 0.8s ease;
  position: relative;
}

@keyframes aparecer {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 1rem;
}

button {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
  margin: 10px;
}

button:hover {
  background-color: #45a049;
}

#mensaje {
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.95rem;
}